/* slick */

.items-slider-container {
    margin: 0 auto;
    max-width: 1200px;
}

.items-slider-container .slider-for {
    background-color: #fff;
    margin-bottom: 0;
}

.items-slider-container .slider-for img {
    max-width: 100%;
    width: 100%;
}

.items-slider-container .slider-for .item-informations-container {
    padding: 30px;
    position: absolute;
}

.items-slider-container .slider-for .item-informations-container.left-top {
    left: 0;
    top: 0;
}

.items-slider-container .slider-for .item-informations-container.left-top .item-slide-title,
.items-slider-container .slider-for .item-informations-container.left-top .item-slide-info-1,
.items-slider-container .slider-for .item-informations-container.left-top .item-slide-info-2 {
    text-align: left;
}

.items-slider-container .slider-for .item-informations-container.center-top {
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 0;
}

.items-slider-container .slider-for .item-informations-container.right-top {
    top: 0;
    right: 0;
}

.items-slider-container .slider-for .item-informations-container.right-top .item-slide-title,
.items-slider-container .slider-for .item-informations-container.right-top .item-slide-info-1,
.items-slider-container .slider-for .item-informations-container.right-top .item-slide-info-2 {
    text-align: right;
}

.items-slider-container .slider-for .item-informations-container.left-center {
    position: absolute;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 0;
}

.items-slider-container .slider-for .item-informations-container.left-center .item-slide-title,
.items-slider-container .slider-for .item-informations-container.left-center .item-slide-info-1,
.items-slider-container .slider-for .item-informations-container.left-center .item-slide-info-2 {
    text-align: left;
}

.items-slider-container .slider-for .item-informations-container.center-center {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.items-slider-container .slider-for .item-informations-container.right-center {
    position: absolute;
    top: 50%;
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    right: 0;
}

.items-slider-container .slider-for .item-informations-container.right-center .item-slide-title,
.items-slider-container .slider-for .item-informations-container.right-center .item-slide-info-1,
.items-slider-container .slider-for .item-informations-container.right-center .item-slide-info-2 {
    text-align: right;
}

.items-slider-container .slider-for .item-informations-container.left-bottom {
    bottom: 0;
    left: 0;
}

.items-slider-container .slider-for .item-informations-container.left-bottom .item-slide-title,
.items-slider-container .slider-for .item-informations-container.left-bottom .item-slide-info-1,
.items-slider-container .slider-for .item-informations-container.left-bottom .item-slide-info-2 {
    text-align: left;
}

.items-slider-container .slider-for .item-informations-container.center-bottom {
    position: absolute;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    bottom: 0;
}

.items-slider-container .slider-for .item-informations-container.right-bottom {
    bottom: 0;
    right: 0;
}

.items-slider-container .slider-for .item-informations-container.right-bottom .item-slide-title,
.items-slider-container .slider-for .item-informations-container.right-bottom .item-slide-info-1,
.items-slider-container .slider-for .item-informations-container.right-bottom .item-slide-info-2 {
    text-align: right;
}

.items-slider-container .slider-for .item-informations-container .item-slide-title,
.items-slider-container .slider-for .item-informations-container .item-slide-info-1 {
    line-height: 1em;
}

.items-slider-container .slider-for .item-informations-container .item-slide-title {
    font-size: 40px;
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
}

.items-slider-container .slider-for .item-informations-container .item-slide-info-1 {
    font-size: 22px;
    font-size: 2.2rem;
    color: #ccc;
    text-transform: uppercase;
}

.items-slider-container .slider-for .item-informations-container .item-slide-info-2 {
    font-size: 40px;
    font-size: 4rem;
    color: #2ebaaf;
    text-transform: uppercase;
}

.items-slider-container .slider-nav {
    margin-bottom: 30px;
    margin-top: 10px;
}

.items-slider-container .slider-nav .slick-slide {
    position: relative;
    padding: 7px;
}

.items-slider-container .slider-nav .slick-slide img {
    max-width: 100%;
    margin: 0 auto;
    background: #EDEDED;
    opacity: 0.2;
    border: 1px solid #EEEEEE;
    border-radius: 8px;
}

.items-slider-container .slider-nav .slick-slide:hover {
    cursor: pointer;
}

.items-slider-container .slider-nav .slick-slide.current-slide {
    background-color: #fff;
}

.items-slider-container .slider-nav .slick-slide.current-slide img {
    filter: progid: DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
}

.items-slider-container .slider-nav .slick-slide.slick-current img {
    opacity: 1;
    border: 5px solid #ABC76E;
}

@media screen and (min-width: 600px) {
    .items-slider-container .slider-for .item-informations-container .item-slide-title {
        font-size: 71px;
        font-size: 7.1rem;
    }
    .items-slider-container .slider-for .item-informations-container .item-slide-info-1 {
        font-size: 34px;
        font-size: 3.4rem;
    }
    .items-slider-container .slider-for .item-informations-container .item-slide-info-2 {
        font-size: 34px;
        font-size: 3.4rem;
    }
}